.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: white;
  padding: 20px;
  width: 420px;
  border-radius: 8px;
  text-align: center;
  border: 2px solid black;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background: red;
  color: white;
  border: none;
  font-weight: bold;
  padding: 6px 12px;
  cursor: pointer;
}

.modal-input {
  width: 90%;
  padding: 12px;
  margin-top: 15px;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid black;
}

.modal-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.modal-ok {
  background: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.modal-cancel {
  background: gray;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
