:root {
  color-scheme: light dark;
}
* {
  box-sizing: border-box;
}

html, body, #root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  background: #0b0b0f;
}
